:root{
--main-color:#F5F4FA;
--ban-color:#2F303A;
--on-color:#FFFFFF;
--sleep-color:#2196F3;
--u-color:#212121;
--d-color:#757575;
--logo-color:#000;
--gforce-color:#EEE
}
body{
font-family: "Roboto";
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* footer */
.basement-title{
color: var(--logo-color);
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.basement-half{
color: var(--sleep-color);
font-family: "Raleway";
}

.basement-place{
color: var(--on-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}
.basement-link{
color: var(--d-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}
.basement{
background-color: var(--ban-color);
}

/* header */
.hat-title{
color: var(--logo-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.hat-half{
    color: var(--sleep-color);
    font-family: "Raleway";
}

.hat-link{
color: var(--u-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
    
.hat-link:hover,
.hat-link:focus{
color: var(--sleep-color);
}
    
.hat-contact{
color: var(--d-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.hat-contact:hover,
.hat-contact:focus{
 color: var(--sleep-color);
}

/* main */
.product-options{
color: var(--u-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; 
letter-spacing: 0.48px;
border-radius: 4px;
background: var(--main-color);
}
.product-options:hover,
.product-options:focus{
color: var(--on-color);
border-radius: 4px;
background-color: var(--sleep-color);
/* shadow-middle */
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.product-name{
color: var(--u-color);
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
}
.product-type{
color: var(--d-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.48px;
}
.product-elem{
border: 1px solid var(--gforce-color);
background: var(--on-color);
}