.product-options,
.order-buy{
    text-decoration: none;
    border: none;
    padding: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.hat-link,
.hat-contact,
.basement-link,
.basement-place,
.hat-title,
.basement-title{
    text-decoration: none;
}
.order-title{
    margin: 0px;
    text-decoration: none;
}
.reasons-title{
    margin: 0px;
    text-decoration: none;
}
.reasons-text{
    margin: 0px;
    text-decoration: none;
}
.working-title{
    margin: 0px;
    text-decoration: none;
}
.team-title{
    margin: 0px;
    text-decoration: none;
}
.team-profession{
    margin: 0px;
    text-decoration: none;
}
.team-name{
    margin: 0px;
    text-decoration: none;
}
.product-name,
.product-type{
    margin: 0px;
    text-decoration: none;
}