header > nav > ul > li > a:hover
{color:var(--finger-color);}
header > nav > ul > li > a
{color:var(--clash-color);}
ul > li > address > a:hover
{color: var(--finger-color);}
ul > li > address > a
{color: var(--domain-color);}
nav > ul > li > a
{color: var(--clash-color);}
main > section > h1
{color: var(--muken-color);}
main > section > button
{background-color:var(--finger-color);
border: none;
color: var(--muken-color);}
li > p
{color: var(--domain-color);;}
li > address > a
{color: var(--domain-color);}
main > section:first-child
 {background-color: var(--background-color);}
 li > address > a{color: var(--domain-color);}
address > a{ color:var(--muken-color);
    ;} 
footer
{background-color: var(--background-color);}
 a[href="./index.html"]{color: var(--clash-color);}
 a[href="./index.html"] > span{color: var(--finger-color);}
:root{
    --background-color:#2F303A;
    --muken-color:#FFFFFF;
    --domain-color:#757575;
    --finger-color:#2196F3;
    --clash-color:#212121;
}
body{
    font-family: Roboto, serif;
    font-family: Raleway, serif;
}
/* header */
.hat-pages-list-pages_variants-link{
    line-height: 1,142857142857143;
}
.hat-communicate_with_us-way-link{
    line-height: 1,142857142857143;
}
.hat-title{
    line-height: 1,384615384615385;
}
/* footer */
.basement-title{
    line-height: 1,384615384615385;
}
.basement-communicate_with_us{
    line-height: 1,714285714285714;
}
.basement-our_place{
    line-height: 1,714285714285714;
}
/* main */
.middle-order-buy{
    line-height: 1,875;
}
.middle-what_do_we_do-title{
    line-height: 1,166666666666667;
}
.middle-team-title{
    line-height: 1,166666666666667;
}
.middle-order-title{
    line-height: 1,363636363636364;
}
.middle-reasons-list-member-text{
    line-height: 1,714285714285714;
}
.middle-reasons-list-member-title{
    line-height: 1,142857142857143;
}
.middle-team-list-member-profession{
    line-height: 1,1875;
}
.middle-team-list-member-name{
    line-height: 1,1875;
}
.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}