a[href="./index.html"]{color: var(--finger-color);}
ul > li > a[href="mail to:info@devstudio.com"]{color: var(--finger-color);}
a[href="./portfolio.html"]{color: var(--clash-color);}
nav > ul > li > a{color: var(--clash-color);
    ;}
ul > li > a{color: var(--domain-color);}
main > section > h1{color: var(--muken-color);}
main > section > button{background-color:var(--finger-color);
border-color: var(--finger-color);
color: var(--muken-color);}
li > p{color: var(--domain-color);
    ;}
li > address > a{color: var(--domain-color);}
main > section:first-child
 {background-color: var(--background-color);}
 li > address > a{color: var(--domain-color);}
address > a{ color:var(--muken-color);
    ;} 
footer{background-color: var(--background-color);}
:root{
    --background-color:#2F303A;
    --muken-color:#FFFFFF;
    --domain-color:#757575;
    --finger-color:#2196F3;
    --clash-color:#212121;
}